.l1{
    position: absolute;
    background-color:red;
    width: 33%;
    height: 33%;
    top: 0;
    bottom: 66%;
    right: 66%;
    left: 0;
}

.c1{
    position: absolute;
    background-color:orange;
    width: 33%;
    height: 33%;
    top: 0;
    bottom: 66%;
    right: 33%;
    left: 33%;
}

.r1{
    position: absolute;
    background-color: yellow;
    width: 33%;
    height: 33%;
    top: 0;
    bottom: 66%;
    right: 0;
    left: 66%;
}

.l2{
    position: absolute;
    background-color:green;
    width: 33%;
    height: 33%;
    top: 33%;
    bottom: 33%;
    right: 66%;
    left: 0;
}

.c2{
    position: absolute;
    background-color:blue;
    width: 33%;
    height: 33%;
    top: 33%;
    bottom: 33%;
    right: 33%;
    left: 33%;
}

.r2{
    position: absolute;
    background-color:purple;
    width: 33%;
    height: 33%;
    top: 33%;
    bottom: 33%;
    right: 0;
    left: 66%;
}

.l3{
    position: absolute;
    background-color:pink;
    width: 33%;
    height: 33%;
    top: 66%;
    bottom: 0;
    right: 66%;
    left: 0;
}

.c3{
    position: absolute;
    background-color:grey;
    width: 33%;
    height: 33%;
    top: 66%;
    bottom: 0;
    right: 33%;
    left: 33%;
}

.r3{
    position: absolute;
    background-color:rgb(73, 64, 9);
    width: 33%;
    height: 33%;
    top: 66%;
    bottom: 0;
    right: 0;
    left: 66%;
}
